html{
    background-color: antiquewhite;

}
body{
    
    background-color: white;
    margin: 0 auto;
    max-width: 1000px;
    
        font-family:'barlow',sans-serif;
        font-size: 16px;
        letter-spacing: 0;
        -webkit-text-size-adjust: 100%;
    
}



header{ 
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    color:#724935

}
ul{
    margin: 0;
    padding: 0;
   
}
header li{
    display: inline;
}
header h1,nav{
    display: inline-block;
}

aside{
    width: 270px;
    display: inline-block;
    vertical-align: top;

   
}
main{
    width:  680px;;
    display: inline-block;

}

.product{
    border: solid black 2px;
    width: 200px;
    height: 392px;
    margin: 5px;
    padding: 5px;
    display: inline-block;
    vertical-align: top;
     
}


img{
    width: 200px;
  
   
}
footer {background-color: rgb(255, 255, 255);
    margin: 0 auto;
    color: #724935
}
.button{
    padding: 10px;
    display: inline-block;
}
 .litle{
   padding-top: 58px;
   padding-bottom: 58px;
}